body, html{
	height: 100%;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	background-image: url(header.jpg);
	background-size: cover;

}

h1{
	font-size: 3rem;
	color: #ffff;
}
.buffer{
	height: 130px;
}

hr{
	border-width: 3px;
	background-color: #F05F44;
	max-width: 65px;
}

.btn{
	text-transform: uppercase;
	border-radius: 3rem;
	font-weight: 700;

}

.btn-primary{
	background-color: #F05F44;
	border-color: #F05F44;
}
.btn-primary:hover{
	background-color: #ee4b08;
	border-color: #ee4b08;
	border-width: 4px;
}

.btn-xl{
	padding: 1rem 1rem;
}